api.listali.co.il {
  encode gzip
  reverse_proxy api:5000

  header {
    -Server
  }

  log {
    output stdout
    format console
  }
}

api.dashio.destaw.co.il {
  encode gzip
  reverse_proxy dashio-api:7000

  header { 
    -Server
  }

  log { 
    output stdout
    format console
  }
}